.titulos{
    text-align: center;
}

/*============================SEÇÃO 1============================*/

.secao-1 p{
  padding: 20px;
  font-size: 19px;
  text-align: justify;
  max-width: 800px;
  margin: 0 auto 60px;
}

.secao-1 .titulos-1{
    margin-top: 130px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
/*===========================SEÇÃO 2===========================*/

.secao-2 p{
  padding: 20px;
  font-size: 19px;
  text-align: justify;
  max-width: 800px;
  margin: 0 auto 60px;
}
/*========================SEÇÃO 3===========================*/

.secao-3 .fale-conosco{
    padding: 20px;
    border-radius: 20px;
    background-color: #2157c4;
    width: min(520px, 90%);
    margin: 20px auto; 
    box-sizing: border-box;
}


.secao-3 .fale-conosco p{
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
}

.secao-3 .fale-conosco .contatos{
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 20px;
}
.secao-3 .fale-conosco .contatos img{
   width: 30px;
   vertical-align: middle;
}

.secao-3 .fale-conosco .contatos .contato-1,
.secao-3 .fale-conosco .contatos .contato-2{
    padding: 10px;
    vertical-align: middle;
    justify-content: center;
    display: flex;
    gap: 5px;
}

.contato-1 a, .contato-2 a { 
    color: white; 
    text-decoration: none;
}

