/* ===================== MISSION ===================== */

.mission-container {
  max-width: 1100px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;

  gap: 40px;
  padding-top: 50px;

  position: relative;
  z-index: 0;
}

.mission-card {
  width: 280px;
  max-width: 280px;
  height: 160px;
  background-color: white;
  border-radius: 20px;

  display: flex;
  flex-direction: column;

  box-shadow: 0 2px 15px rgba(53, 55, 61, 0.315);
  transition: height 0.35s ease-in-out;

  overflow: hidden; /* ✅ garante que nada vaze */
}

.mission-card:hover {
  height: 410px;
}

/* ===== IMAGEM (dentro do card) ===== */
.mission-image{
  max-width: 260px;
  margin: 0 auto;
  padding: 12px;
  box-sizing: border-box;
}

.mission-image img {
  width: 150px;
  height: 130px;
  object-fit: cover;
  display: block;
}

/* ===== TEXTO ===== */
.mission-detail {
  padding: 15px;
  text-align: center;
  color: #23317e;
  font-weight: bolder;

  /* começa escondido */
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.35s ease-in-out, max-height 0.35s ease-in-out;
}

.mission-detail h3 {
  margin-top: 3px;
  font-weight: bold;
}

.mission-detail p {
  font-size: 15px;
  margin: 0;
}

/* aparece no hover */
.mission-card:hover .mission-detail {
  opacity: 1;
  max-height: 220px;
}

/* ===================== MOBILE ===================== */
@media (max-width: 768px) {
  .mission-container {
    padding-top: 20px;
    gap: 14px;
  }

  .mission-card {
    max-width: 340px;
    height: 160px;
  }

  .mission-card:hover {
    height: 390px;
  }

  .mission-image {
    height: 130px;
    padding: 12px;
  }

  .mission-image img {
    max-width: 300px;
  }
}